[submodule "taste-setup"]
	path = taste-setup
	url = git@gitrepos.estec.esa.int:taste/taste-setup.git
[submodule "TASTE-SAMV71-Runtime"]
	path = TASTE-SAMV71-Runtime
	url = git@github.com:n7space/TASTE-SAMV71-Runtime.git
[submodule "TASTE-SAMV71-Drivers"]
	path = TASTE-SAMV71-Drivers
	url = git@github.com:n7space/TASTE-SAMV71-Drivers.git
